# Database 用于存储文档、鉴权信息、用户信息等，当前使用sqlite，后续可切换为mysql、postgresql等
DATABASE_URL=sqlite:///./data/app.db

# JWT 用于鉴权，可以按用户权限做相关操作
JWT_SECRET_KEY=change-this-to-a-random-secret-key-in-production
JWT_ALGORITHM=HS256
# 设置token过期时间为1年
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=525600
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# LLM 大模型配置信息
# For OpenAI-compatible API，满足OpenAI协议的都可以配置(比如 OpenAI, DeepSeek, Tongyi Qianwen, Zhipu ...)
LLM_PROVIDER=openai
LLM_API_KEY=sk-your-api-key
LLM_API_BASE=https://api.openai.com/v1
LLM_MODEL=gpt-4o-mini

# For local Ollama deployment 也可以选择使用Ollama本地部署
# LLM_PROVIDER=ollama
# OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_MODEL=qwen2.5:7b

# Embedding 模型，用于生成文档向量，用于文档检索，可以选择embedding模型厂商的api
EMBEDDING_PROVIDER=openai
EMBEDDING_API_KEY=123
EMBEDDING_API_BASE=https://api.openai.com/v1
EMBEDDING_MODEL=text-embedding-3-small

# 也可以使用ollama本地加载的embedding模型
# EMBEDDING_PROVIDER=ollama
# OLLAMA_EMBEDDING_MODEL=nomic-embed-text

# Rerank 模型，用于对检索到的文档进行排序，可选择外部厂商的API，也可以选择使用transformers和torch加载huggingface的模型
RAG_RERANK_ENABLED=true
RAG_RERANK_MODEL=/Users/zz/LanguagePath/data-base/llm_models/bge-reranker-v2-m3
RAG_RERANK_TOP_N=5

# Chroma 向量数据库，当前选择使用本地嵌入式的Chroma
CHROMA_PERSIST_DIR=./data/chroma

# App
APP_NAME=Enterprise RAG System
APP_DEBUG=true
LOG_LEVEL=INFO